<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <h2>Item: <%= item.itemName %></h2>
      <p>How many: <%= item.quantity %></p>
      <% if(currentUser) { %> <% include ../purchases/purchasing.ejs %> <% } %>
        <a
          href="/lists/<%= item.listId %>/items/<%= item.id %>/edit"
          class="btn btn-warning"
          >Edit Item</a
        >
        <button type="submit" class="btn btn-danger">Delete Item</button>
      </form>
    </main>
    <% include ../static/partials/baseScript.ejs %>
  </body>
</html>
