<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Your Lists</h1>
      <p>Where are you headed to first?</p>

      <ul class="list-group">
        <% lists.forEach((list) => { %>
        <li class="list-group-item">
          <i class="fas fa-list fa-xs"></i>
          <a href="/lists/<%= list.id %>"> <%= list.listName %> </a>
        </li>
        <% }) %>
      </ul>
      <br />
      <% if(currentUser && currentUser.isAdmin()) { %>
      <a href="/lists/new" class="btn btn-success"
        ><i class="far fa-plus-square"></i> New List</a
      >
      <% } %>
    </main>
  </body>
</html>
