<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <h1><%= list.listName %></h1>
      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
      <form
        style="display:initial"
        action="/lists/<%= list.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </main>
    <% include ../static/partials/baseScript.ejs %>
  </body>
</html>
