<html lang="en">
  <head> </head>

  <body>
    <h2>About</h2>
    <p>
      Bodega is a community-sourced shopping app to allow family and friends to
      get their grocery on, together.
    </p>
  </body>
</html>
