<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-2 text-white">Welcome to Bodega</h1>
        <p class="lead text-white">
          A shopping list app for family and friends
        </p>
        <hr class="my-4" />
        <a href="/users/sign_up" class="btn btn-primary btn-lg center">
          <i class="fas fa-user-plus"></i> Sign Up</a
        >
      </header>
      <!-- /.row -->
    </main>
    <!-- /.container -->
    <% include ./partials/baseScript.ejs %>
  </body>
</html>
