<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <!--Include additional tags as needed by individual templates-->
  </head>

  <body>
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-2 text-white">Welcome to Bodega</h1>
        <p class="lead text-white">
          A shopping list app for family and friends
        </p>
        <hr class="my-4" />
        <a href="/users/sign_up" class="btn btn-primary btn-lg center"
          >Sign Up</a
        >
      </header>

      <!-- Page Features -->
      <section class="row text-center">
        <section class="col-lg-4">
          <h4 class="card-title">Create Sharable Lists</h4>
          <p class="card-text">
            Make shopping lists for your favorite stores
          </p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Buy, Delete, Repeat</h4>
          <p class="card-text">
            Check off an item and list instantly updates
          </p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Get Some Privacy</h4>
          <p class="card-text">
            Keep your personal lists private
          </p>
        </section>
      </section>
      <!-- /.row -->
    </main>
    <!-- /.container -->
    <% include ./partials/baseScript.ejs %>
  </body>
</html>
